<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fp.shuttlecock.admin.AdminMapper">
	<select id="getAllUserList"	resultType="com.fp.shuttlecock.admin.UserDTO">
		SELECT userId, pw, username, gender, admin, userEmail, userImage, userPhone, userLeagueGrade, wincount, losecount, writeCount, badge_badgeId
		FROM user
	</select>


</mapper>