<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fp.shuttlecock.leagueboard.LeagueboardRankingMapper">

<select id="getLeagueRanking" resultType="com.fp.shuttlecock.user.UserDTO" >
	select wincount, losecount, username, userId
	from user
</select>

<select id="getRankedList" resultType="com.fp.shuttlecock.user.UserDTO">
	SELECT userId,
		   userLeagueGrade,
       	   (wincount - losecount) AS winScore,
       	   RANK() OVER (ORDER BY (wincount - losecount) DESC) AS Ranking
	FROM user
	<if test="top3">
        LIMIT 3
    </if>
	ORDER BY Ranking;
</select>

</mapper>