<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fp.shuttlecock.leagueboard.LeagueboardRankingMapper">

<select id="getLeagueRanking" 
		parameterType="com.fp.shuttlecock.leagueboard.PageRequestDTO"
		resultType="com.fp.shuttlecock.user.UserDTO" >
		<bind name="start" value="(pageNum-1)*amount" />
	SELECT username, userId, wincount, losecount, badgeId
		FROM user
		<where>
			(wincount != 0 or losecount != 0)
			<if test="searchKeyword != null and searchKeyword != ''">
				AND username LIKE CONCAT ('%', #{searchKeyword}, '%')
			</if>
		</where>
		LIMIT #{start}, #{amount}
</select>

<select id="getRankedList" resultType="com.fp.shuttlecock.user.UserDTO">
	SELECT userId,
		   username,
		   gender,
		   badgeId,
		   userLeagueGrade
	FROM user
	ORDER BY userLeagueGrade;
</select>

<select id="countLeagueUser"
		parameterType="com.fp.shuttlecock.leagueboard.PageRequestDTO"
		resultType="int">
	select count(userId)
	from user
		<where>
			(wincount != 0 or losecount != 0)
			<if test="searchKeyword != null and searchKeyword != ''">
				AND username LIKE CONCAT ('%', #{searchKeyword}, '%')
			</if>
		</where>
	
</select>





</mapper>