<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.fp.shuttlecock.leagueboard.LeagueboardMapper">

	<select id="getAllLeaguePost" resultType="LeagueboardDTO">
		select * from
		leagueboard
	</select>

	<select id="countLeaguePosts">
		select count(leagueboardId) from leagueboard
	</select>

	<select id="getLeaguePostById" parameterType="_int"
		resultType="LeagueboardDTO">
		select * from leagueboard where leagueboardId =
		#{leagueboardId}
	</select>

	<insert id="insertLeaguePost" parameterType="LeagueboardDTO">
		insert into
		leagueboard (title, content, winner, loser, userId, winners, losers)
		values (#{title},
		#{content}, #{winner}, #{loser}, #{userId}, #{winners}, #{losers})
	</insert>

	<update id="updateLeaguePost" parameterType="LeagueboardDTO">
		update leagueboard
		set title = #{title}, content = #{content}, winner = #{winner}, loser
		= #{loser}, regdate = NOW(), winners = #{winners}, losers = #{losers}
		where leagueboardId = #{leagueboardId}
	</update>

	<delete id="deleteLeaguePost" parameterType="_int">
		delete from
		leagueboard where leagueboardId = #{leagueboardId}
	</delete>

	<update id="increaseWinnerPoint" parameterType="string">
		update user
		set
		wincount = wincount + 1
		where userId = #{winner}
	</update>

	<update id="increaseLoserPoint" parameterType="string">
		update user
		set
		losecount = losecount + 1
		where userId = #{loser}
	</update>

	<select id="getSearchedLeaguePost"
		parameterType="com.fp.shuttlecock.leagueboard.PageRequestDTO"
		resultType="LeagueboardDTO">
		<bind name="start" value="(pageNum-1)*amount" />
		SELECT leagueboard.*, badge.badgeName
		FROM leagueboard
		INNER JOIN user ON leagueboard.userId = user.userId
		INNER JOIN badge ON user.badgeId = badge.badgeId
		<where>
			(deleteYN IS NULL OR deleteYN != 1)
			<if test="userId != null">
				AND (leagueboard.userId NOT IN (SELECT blockedUser FROM blockuser
				WHERE blockuser.userId = #{userId}))
			</if>
			<if test="category == 'title'">
				<if test="searchKeyword != null and searchKeyword != ''">
					AND title LIKE CONCAT ('%', #{searchKeyword}, '%')
				</if>
			</if>
			<if test="category == 'user_userId'">
				<if test="searchKeyword != null and searchKeyword != ''">
					AND leagueboard.userId LIKE CONCAT ('%', #{searchKeyword}, '%')
				</if>
			</if>
		</where>
		<if test="sort == 0">
			ORDER BY leagueboardId DESC
		</if>
		<if test="sort == 1">
			ORDER BY regdate DESC
		</if>
		<choose>
			<when test="isMain == 1">
				LIMIT 5
			</when>
			<otherwise>
				LIMIT #{start}, #{amount}
			</otherwise>
		</choose>
	</select>

	<select id="countSearchedLeaguePosts"
		parameterType="com.fp.shuttlecock.leagueboard.PageRequestDTO"
		resultType="int">
		select COUNT(DISTINCT leagueboardId) from leagueboard
		<where>
			(deleteYN IS NULL OR deleteYN != 1)
			<if test="userId != null">
				AND (userId NOT IN (SELECT blockedUser FROM blockuser
				WHERE userId = #{userId}))
			</if>
			<if test="category == 'title'">
				<if test="searchKeyword != null and searchKeyword != ''">
					AND title LIKE CONCAT ('%', #{searchKeyword}, '%')
				</if>
			</if>
			<if test="category == 'user_userId'">
				<if test="searchKeyword != null and searchKeyword != ''">
					AND userId LIKE CONCAT ('%', #{searchKeyword}, '%')
				</if>
			</if>
		</where>
	</select>

	<update id="increaseWriteCount" parameterType="string">
		update user
		set
		writeCount = writeCount + 1
		where userId = #{userId}
	</update>

	<update id="updateDeletedLeaguePost" parameterType="_int">
		update
		leagueboard
		set deleteYN = 1
		where leagueboardId = #{leagueboardId}
	</update>
	
	<update id="decreaseLoserPoint" parameterType="string">
		update user set losecount = losecount - 1 where userId = #{userId}
	</update>
	
	<update id="decreaseWinnerPoint" parameterType="string">
		update user set wincount = wincount - 1 where userId = #{userId}
	</update>
	
	<insert id="increaseWinnerRanking" parameterType="string">
			insert into leagueRank(userId, wincount, insertdate) values(#{userId}, 1, current_date());
	</insert>
	
	<insert id="decreaseWinnerRanking" parameterType="string">
			insert into leagueRank(userId, wincount, losecount, insertdate) values(#{userId}, -1, 1, current_date());
	</insert>
	
	<insert id="increaseLoserRanking" parameterType="string">
			insert into leagueRank(userId, losecount, insertdate) values(#{userId}, 1, current_date());
	</insert>
	
	<insert id="decreaseLoserRanking" parameterType="string">
			insert into leagueRank(userId, wincount, losecount, insertdate) values(#{userId}, 1, -1, current_date());
	</insert>
</mapper>