<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.fp.shuttlecock.recruitboard.RecruitboardMapper">
	<select id="getTradePostByTradeboardId" parameterType="_int"
		resultType="RecruitboardDTO">
		select * from recruitboard where recruitboardId =
		#{recruitboardId}
	</select>

	<update id="increaseHit" parameterType="_int">
		update recruitboard
		set hit = hit + 1
		where recruitboardId = #{recruitboardId}
	</update>

	<select id="getPagenatedSearch"
		parameterType="com.fp.shuttlecock.tradeboard.PageRequestDTO"
		resultType="RecruitboardDTO">
		<bind name="start" value="(pageNum - 1) * amount" />
		SELECT recruitboard.*, badge.badgeName FROM recruitboard
		INNER JOIN
		user ON recruitboard.userId = user.userId
		INNER JOIN badge ON
		user.badgeId = badge.badgeId
		<where>
			(deleteYN IS NULL OR deleteYN != 1)
			<if test="userId != null">
				AND (recruitboard.userId NOT IN (SELECT blockedUser FROM
				blockuser
				WHERE blockuser.userId = #{userId}))
			</if>
			<if test="recruitType != 0">
				AND recruitType = #{recruitType}
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				<choose>
					<when test="category == 'title'">
						AND title LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="category == 'user_userId'">
						AND recruitboard.userId LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="category == 'content'">
						AND content LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
				</choose>
			</if>
			<if test="region != null and region != 0">
				AND region = #{region}
			</if>
		</where>
		<choose>
			<when test="sort == 0">
				ORDER BY recruitboardId DESC
			</when>
			<when test="sort == 1">
				ORDER BY regdate DESC
			</when>
			<when test="sort == 2">
				ORDER BY hit DESC
			</when>
			<when test="sort == 3">
				ORDER BY `like` DESC
			</when>
		</choose>
		<choose>
			<when test="isMain == 1">
				LIMIT 5
			</when>
			<otherwise>
				LIMIT #{start}, #{amount}
			</otherwise>
		</choose>
	</select>

	<select id="getTotalCount"
		parameterType="com.fp.shuttlecock.tradeboard.PageRequestDTO"
		resultType="int">
		select COUNT(recruitboardId) from recruitboard
		<where>
			(deleteYN IS NULL OR deleteYN != 1)
			<if test="userId != null">
				AND (userId NOT IN (SELECT blockedUser FROM blockuser
				WHERE userId = #{userId}))
			</if>
			<if test="recruitType != 0">
				AND recruitType = #{recruitType}
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				<choose>
						<when test="category == 'title'">
							AND title LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="category == 'user_userId'">
							AND userId LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="category == 'content'">
							AND content LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
			</if>
			<if test="region != null and region != 0">
				AND region = #{region}
			</if>
		</where>
	</select>

	<insert id="insertBoard" parameterType="RecruitboardDTO">
		insert into
		recruitboard(title, userId, content, region, recruitType, imageName)
		values(#{title}, #{userId}, #{content}, #{region}, #{recruitType},
		#{imageName})
	</insert>

	<update id="updateTradePost" parameterType="RecruitboardDTO">
		update recruitboard
		set title = #{title}, content = #{content},
		region = #{region}, regdate = NOW(), complete = #{complete}, recruitType =
		#{recruitType}, imageName = #{imageName}
		where recruitboardId =
		#{recruitboardId}
	</update>

	<delete id="deleteTradePost" parameterType="_int">
		delete from recruitboard 
		where recruitboardId = #{recruitboardId}
	</delete>

	<update id="increaseWriteCount" parameterType="string">
		update user
		set writeCount = writeCount + 1
		where userId = #{userId}
	</update>

	<update id="updateDeletedTradePost" parameterType="_int">
		update
		recruitboard set deleteYN = 1 where recruitboardId = #{recruitboardId}
	</update>

	<select id="getCompletedPost" resultType="int">
		SELECT recruitboardId
		FROM recruitboard
		WHERE DATEDIFF(CURDATE(), regdate) >= 3 AND complete = 1
	</select>
	
	<update id="deleteCompletedPost"> 
		UPDATE recruitboard 
		SET deleteYN = 1 
		WHERE DATEDIFF(CURDATE(), regdate) >= 3 AND complete = 1
	</update>

	<update id="setPostCompleted" parameterType="_int">
		update recruitboard
		set complete = 1, regdate = now() where recruitboardId =
		#{recruitboardId}
	</update>
</mapper>