<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.fp.shuttlecock.tradeboard.TradeboardMapper">
	<select id="getTradePostByTradeboardId" parameterType="_int"
		resultType="TradeboardDTO">
		select * from tradeboard where tradeboardId =
		#{tradeboardId}
	</select>

	<update id="increaseHit" parameterType="_int">
		update tradeboard
		set hit = hit + 1
		where tradeboardId = #{tradeboardId}
	</update>

	<!-- <select id="getPagenatedSearch" parameterType="com.fp.shuttlecock.tradeboard.PageRequestDTO" 
		resultType="TradeboardDTO"> <bind name="start" value="(pageNum-1)*amount"/> 
		select * from tradeboard <where> <if test="category == 'title'"> <if test="searchKeyword 
		!= null and searchKeyword != ''"> title LIKE CONCAT ('%', #{searchKeyword}, 
		'%') </if> </if> <if test="category == 'user_userId'"> <if test="searchKeyword 
		!= null and searchKeyword != ''"> user_userId LIKE CONCAT ('%', #{searchKeyword}, 
		'%') </if> </if> </where> ORDER BY tradeboardId DESC LIMIT #{start}, #{amount} 
		</select> -->

	<select id="getPagenatedSearch"
		parameterType="com.fp.shuttlecock.tradeboard.PageRequestDTO"
		resultType="TradeboardDTO">
		<bind name="start" value="(pageNum - 1) * amount" />
		SELECT * FROM tradeboard
		<where>
			<choose>
			<when test="searchKeyword != null and searchKeyword != '' and region == null or region == 0">
				<choose>
					<when test="category == 'title'">
						AND title LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="category == 'user_userId'">
						AND user_userId LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
				</choose>
			</when>
			<when test="searchKeyword != null and searchKeyword != '' and region != null and region != 0">
				<choose>
					<when test="category == 'title'">
						AND title LIKE CONCAT('%', #{searchKeyword}, '%') AND region = #{region}
					</when>
					<when test="category == 'user_userId'">
						AND user_userId LIKE CONCAT('%', #{searchKeyword}, '%') AND region = #{region}
					</when>
				</choose>
			</when>
			<when test="searchKeyword == null or searchKeyword == '' and region != null and region != 0">
				AND region = #{region}
			</when>
			</choose>
		</where>
		ORDER BY tradeboardId DESC
		LIMIT #{start}, #{amount}
	</select>


	<!-- <select id="getTotalCount"
		parameterType="com.fp.shuttlecock.leagueboard.PageRequestDTO"
		resultType="int">
		select COUNT(tradeboardId) from tradeboard
		<where>
			<if test="category == 'title'">
				<if test="searchKeyword != null and searchKeyword != ''">
					title LIKE CONCAT ('%', #{searchKeyword}, '%')
				</if>
			</if>
			<if test="category == 'user_userId'">
				<if test="searchKeyword != null and searchKeyword != ''">
					user_userId LIKE CONCAT ('%', #{searchKeyword}, '%')
				</if>
			</if>
		</where>
	</select> -->
	
	<select id="getTotalCount"
		parameterType="com.fp.shuttlecock.leagueboard.PageRequestDTO"
		resultType="int">
		select COUNT(tradeboardId) from tradeboard
		<where>
			<choose>
			<when test="searchKeyword != null and searchKeyword != '' and region == null or region == 0">
				<choose>
					<when test="category == 'title'">
						AND title LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="category == 'user_userId'">
						AND user_userId LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
				</choose>
			</when>
			<when test="searchKeyword != null and searchKeyword != '' and region != null and region != 0">
				<choose>
					<when test="category == 'title'">
						AND title LIKE CONCAT('%', #{searchKeyword}, '%') AND region = #{region}
					</when>
					<when test="category == 'user_userId'">
						AND user_userId LIKE CONCAT('%', #{searchKeyword}, '%') AND region = #{region}
					</when>
				</choose>
			</when>
			<when test="searchKeyword == null or searchKeyword == '' and region != null and region != 0">
				AND region = #{region}
			</when>
			</choose>
		</where>
	</select>

	<insert id="insertBoard" parameterType="TradeboardDTO">
		insert into tradeboard(title, user_userId, content, region)
		values(#{title}, #{user_userId}, #{content}, #{region})
	</insert>

	<update id="updateTradePost" parameterType="TradeboardDTO">
		update tradeboard set title = #{title}, content = #{content},
		region = #{region}, regdate = NOW()
		where tradeboardId = #{tradeboardId}
	</update>

	<delete id="deleteTradePost" parameterType="_int">
		delete from tradeboard where tradeboardId = #{tradeboardId}
	</delete>

	<update id="increaseWriteCount" parameterType="string">
		update user
		set writeCount = writeCount + 1
		where userId = #{user_userId}
	</update>
</mapper>