<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fp.shuttlecock.user.UserMapper">
	
	<!-- 로그인 --> <!-- 존재하는 아이디 확인 -->
	<select id="getLoginUser" parameterType="string"
		resultType="com.fp.shuttlecock.user.UserDTO">
		select * from user
		where userId =#{userId}
	</select>
	
	<!-- 존재하는 아이디 확인 -->
	<!-- <select id="getUserByUserId" parameterType="string"
 			resultType="com.fp.shuttlecock.user.UserDTO">
 		select * from user
 		where userId =#{userId}
 	</select> -->
	
	<!-- 회원가입 -->
	<insert id="getJoinUser"
 			parameterType="com.fp.shuttlecock.user.UserDTO">
 		INSERT INTO 
 			user(userId, pw, username, gender, admin, userEmail, kakaoYN) 
 		VALUES
 			(#{userId}, #{pw}, #{username}, #{gender}, 
 			<choose>
		        <when test="admin == true">1</when>
		        <otherwise>0</otherwise>
		    </choose>, 
		    #{userEmail},
		    <choose>
    			<when test="kakaoYN == true">1</when>
    			<otherwise>0</otherwise>
			</choose>)		
 	</insert>
 	
 	<!-- 아이디 중복체크 -->
 	<select id="CheckIdUser" parameterType="string" resultType="java.lang.Integer">
 		select count(*) from user
 		where userId =#{userId}
 	</select>
 	
 	<!-- 아이디 찾기 -->
 	<select id="findUserId" resultType="com.fp.shuttlecock.user.UserDTO">
		select userId from user
		where username=#{username} and userEmail=#{userEmail}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="isCheckEmail" parameterType="string" resultType="java.lang.Integer">
 		select count(*) from user
 		where userEmail=#{userEmail}
 	</select>
 	
 	<!-- 비밀번호 찾기 - 해당 회원의 정보가 있는지 확인 -->
 	<select id="isExistUser" resultType="boolean" parameterType="string">
        select count(*) > 0 from user
        where userId =#{userId} and userEmail=#{userEmail}
    </select>
    
    <select id="getAllUsers" parameterType="com.fp.shuttlecock.user.UserDTO">
    	select * from user
    </select>
    
    <!-- 새 비밀번호 변경 -->
    <update id="changePassword" parameterType="com.fp.shuttlecock.user.UserDTO">
 		UPDATE user SET pw=#{pw} WHERE userId=#{userId}
 	</update>
 	
</mapper>