@charset "UTF-8";

.mainTitle {
	text-align: center;
}

.ck-editor__editable {
	height: 400px;
}

.ck-content {
	font-size: 12px;
}

.ck-editor__editable p {
	margin: 0
}

.ck-content .image {
	/* Block images */
	max-width: 80%;
	margin: 20px auto;
}

.paging {
	margin-left: auto;
	margin-right: auto;
	display: table;
}


/* 공통 스타일 */
body {
    background-color: #fff;
    color: #333; /* 기본 텍스트 색상 설정 */
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
}

/* 링크 스타일 */
a {
    color: #405448; /* 링크 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 헤더 */
/* header {
    background-color: #405448; 헤더 배경색 설정
    color: #fff; 헤더 텍스트 색상 설정
    padding: 20px; 내부 여백 설정
    text-align: center; 가운데 정렬
} */

/* 메인 콘텐츠 영역 */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* 사이드바 */
/* .aside {
    width: 20%; 사이드바의 너비 설정
} */

/* .menubar ul {
    list-style-type: none; 목록 기호 제거
    padding: 0; 내부 여백 제거
}

.menubar li {
    margin-bottom: 10px; 아이템 간격 설정
}

.menubar a {
    display: block; 링크를 블록 요소로 변환하여 전체 영역을 클릭 가능하도록 설정
    padding: 10px; 내부 여백 설정
    border-radius: 5px; 모서리 둥글게 설정
    background-color: #405448; 배경색 설정
    color: #fff; 텍스트 색상 설정
}

.menubar a:hover {
    background-color: #2c3a3f; 호버 시 배경색 변경
} */

/* 콘텐츠 */
.noticeboard {
	width:85%;
    background-color: #fff; /* 배경색 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 11px; /* 모서리 둥글게 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    padding: 0px 0px 50px 0px; /* 내부 여백 설정 */
    margin-top: 14px;
}

.title {
    background-color: #405448; /* 타이틀 배경색 설정 */
    color: #fff; /* 타이틀 텍스트 색상 설정 */
    padding: 10px; /* 내부 여백 설정 */
    border-top-left-radius: 10px; /* 모서리 둥글게 설정 */
    border-top-right-radius: 10px;
    margin-bottom: 20px; /* 아래 여백 설정 */
    text-align: center; /* 가운데 정렬 */
}

.title h3 {
    margin: 0; /* 마진 제거 */
}

.post-info, .post-buttons {
    margin-bottom: 10px; /* 아래 여백 설정 */
}
/* 게시글 디테일 */
.post-info {
    background-color: #fff;
    /* border: 1px solid #ccc; */
   /*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 30px 30px 0px 30px;
}

/* 게시글 정보 영역 스타일 */
.post-info p {
    margin-bottom: 10px; /* 아래 여백 설정 */
}

.post-title {
    font-size: 24px; /* 제목의 글씨 크기 설정 */
    font-weight: bold; /* 제목의 폰트 굵기 설정 */
    margin-bottom: 10px; /* 아래 여백 설정 */
}

.post-metadata {
    margin-bottom: 15px; /* 아래 여백 설정 */
}

.post-info-text {
    margin-right: 10px; /* 오른쪽 여백 설정 */
}

.post-info-text strong {
    margin-right: 5px; /* 강조 텍스트 우측 여백 설정 */
}


.post-content {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 20px 0px;
    margin-top: 20px;
    max-height: 300px; /* 내용 영역의 최대 높이 설정 */
    overflow-y: auto; /* 내용이 최대 높이를 초과할 경우 수직 스크롤 추가 */
}

.image-container img {
   /* width: 100%; */ 
   height: 100%; 
   object-fit: contain;
   /* margin: 0 auto; */
}

.post-buttons {
    text-align: right;
}

.post-buttons button {
    background-color: #607d67; /* 연한 초록색 */
    color: #fff;
    /* border: none; */
    border: 1px solid #607d67;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* .post-buttons button:hover {
    background-color: #fff; 
    color:#607d67;
    border: 1px solid #607d67;
} */

/* .post-buttons .listBtn{
	background-color:#fff;
	border: 1px solid #607d67;
	color:#607d67;
} */

.post-buttons .updateBtn{
	background-color: #fff;
    color: rgb(0, 100, 0);
    border: 1px solid rgb(0, 100, 0);
}
.post-buttons .updateBtn:hover{
	background-color: rgb(34, 139, 34);
    color: #fff;
    border: 1px solid rgb(34, 139, 34);
}
.post-buttons .delbtn{
	background-color:#fff;
	border: 1px solid rgb(255, 51, 51);
	color:rgb(255, 51, 51);
}
.post-buttons .delbtn:hover{
	background-color:rgb(255, 51, 51);
	border: 1px solid rgb(255, 51, 51);
	color:#fff;
}

/* .post-buttons .updateBtn{
	background-color: #8CB6AB;
    color: #fff;
    border: 1px solid #8CB6AB;
}
.post-buttons .updateBtn:hover{
	background-color: rgb(34, 139, 34);
    color: #fff;
    border: 1px solid rgb(34, 139, 34);
}
.post-buttons .delbtn{
	background-color:#E28691;
	border: 1px solid #E28691;
	color:#fff;
}
.post-buttons .delbtn:hover{
	background-color:rgb(255, 51, 51);
	border: 1px solid rgb(255, 51, 51);
	color:#fff;
} */


.comment-section {
    margin-top: 50px;
    padding: 30px;
    /* border-top: 1px solid #ccc; */
}

.comment-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
    /* text-align: center; */
    margin-left:3px;
}

/* .comment-section .comment-form textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
} */

.comment-submit-button {
    background-color: #405448;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-submit-button:hover {
    background-color: #2c3a3f;
}

.comment-list li button {
    padding: 5px 10px;
    font-size: 14px;
}

.comment-box {
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.comment-box .row {
    margin: 20px 0;
    background-color: #f6f6f6;
    border-radius: 5px;
	padding: 10px 20px 20px 20px;
}

.comment-box textarea {
    width: 100%;
    margin-top: 10px;
}

.com-btn,
.com_update_btn,
.com_delete_btn,
.com_save_btn {
    background-color: #405448; /* 연한 초록색 */
    color: #fff;
    border: none;
    padding: 8px 16px; /* 크기 조정 */
    border-radius: 4px; /* 크기 조정 */
    cursor: pointer;
    /* margin-right: 8px; 간격 조정 */
}

.com-btn,
.com_update_btn:hover,
.com_delete_btn:hover,
.com_save_btn:hover {
    background-color: #607d67; /* 더 연한 초록색 */
}

.userblock{
	background-color:#fff;
	border: 1px solid rgb(255, 51, 51);
	color:rgb(255, 51, 51);
	padding: 8px 16px; /* 크기 조정 */
    border-radius: 4px; /* 크기 조정 */
}

.userblock:hover{
	background-color:rgb(255, 51, 51);
	border: 1px solid rgb(255, 51, 51);
	color:#fff;
	padding: 8px 16px; /* 크기 조정 */
    border-radius: 4px; /* 크기 조정 */
    cursor: pointer;
}

.secret-comment {
    font-style: italicrgb(0, 128, 64);    
    color: #999;
}

.WriteBtn, .listBtn, .goBtn {
    background-color: #607d67; /* 연한 초록색 */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    float: right;
}

.WriteBtn:hover, .listBtn:hover, .goBtn:hover {
    background-color: #4e6555; 
} 

.goBtn1 {
    background-color: rgb(34, 139, 34); /* 진한 초록색 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    float: right;
    box-shadow: 0 0 0 1px rgb(34, 139, 34) inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 3px 0 0 rgba(111, 157, 133, .7),
                0 3px 0 1px rgba(0,0,0,.4),
                0 3px 3px 1px rgba(0,0,0,0.5);
}

.goBtn1:hover {
    background-color: #2E5242;
    box-shadow: 0 0 0 1px rgb(34, 139, 34) inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 3px 0 0 rgba(111, 157, 133, .7),
                0 3px 0 1px rgba(0,0,0,.4),
                0 3px 3px 1px rgba(0,0,0,0.5);
}

/* 글작성 버튼과 취소 버튼 */

.button-container {
    text-align: right; /* 버튼을 우측으로 정렬 */
    margin-top: 15px; /* 위 여백 설정 */
}

.button-container input[type="hidden"] {
    display: inline-block; /* 입력 필드를 인라인 블록 요소로 설정하여 버튼과 같은 줄에 정렬 */
}
.button-container .CancleBtn{
    background-color: #607d67; /* 연한 초록색 */
    color: #fff; /* 텍스트 색상 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px 20px; /* 내부 여백 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    margin-left: 10px; /* 왼쪽 여백 설정 */
}

.button-container .whyBtn {
    background-color: rgb(34, 139, 34); /* 연한 초록색 */
    color: #fff; /* 텍스트 색상 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px 20px; /* 내부 여백 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    margin-left: 10px; /* 왼쪽 여백 설정 */
}

.button-container .CancleBtn:hover{
    background-color: #4e6555; 
}

#sortForm {
	display: inline-block;
	float:right;
    margin: 30px 50px 10px 0; /* 오른쪽 여백 설정 */
}

.sort-select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.sort-select:hover {
    background-color: #f5f5f5;
}


/* 검색창 */
.search-wrap {
    display: inline-block;
    vertical-align: middle;
}

.search-input {
    width: 60%; /* 입력 필드 너비 설정 */
    padding: 10px; /* 내부 여백 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    margin-right: 10px; /* 오른쪽 여백 설정 */
    box-sizing: border-box; /* 박스 모델 설정 */
}

#search-select {
    width: 20%; /* 선택 필드 너비 설정 */
    padding: 10px; /* 내부 여백 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    margin-right: 10px; /* 오른쪽 여백 설정 */
    box-sizing: border-box; /* 박스 모델 설정 */
}

.search-btn {
    background-color: #607d67; /* 연한 초록색 */
    color: #fff; /* 텍스트 색상 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px 20px; /* 내부 여백 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 변경 */
}

.search-btn:hover {
    background-color: #4e6555; /* 더 연한 초록색 */
}

/* 페이지네이션 */
.paging {
    margin-top: 70px; /* 위 여백 설정 */
    margin-bottom: 30px;
    text-align: center; /* 가운데 정렬 */
    background-color: #f9f9f9; 
}

.paging ul {
    list-style: none; /* 목록 기호 제거 */
    padding: 0; /* 내부 여백 제거 */
}

.paging li {
    display: inline-block; /* 인라인 블록 요소로 설정하여 옆으로 정렬 */
    margin-right: 5px; /* 오른쪽 여백 설정 */
}

.paging a {
    /* display: block; */ /* 링크를 블록 요소로 변환하여 전체 영역을 클릭 가능하도록 설정 */
    padding: 5px 10px; /* 내부 여백 설정 */
    background-color: #fff; /* 배경색 설정 */
    color: #405448; /* 텍스트 색상 설정 */
    border-radius: 5px; 
    border: 1px solid #f9f9f9;
}

.current-page {
    background-color: #607d67;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #607d67;
    border-radius: 5px;
}


.paging a:hover {
    border: 1px solid #607d67;
}

.comment-container {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

/* 댓글 css */
.comment-textarea {
    border: none; 
    margin-bottom: 10px; 
    padding: 10px 5px 5px 5px; 
    outline: none;
}

.comment-submit-button {
    align-self: flex-end;
    /* padding: 5px 10px;  */
    border: none;
    border-radius: 5px; 
    background-color: #405448; 
    color: white; 
    cursor: pointer; 
    border: 1px solid #405448;
}

.comment-submit-button:hover {
    background-color: #607d67; 
    color: #fff;
    border: 1px solid #607d67;
}

.comment-container.has-text {
  	border: 1px solid #405448; 
}

/* freeboard 수정 관련 css */
.form-con{
	margin: 5px 10px 10px 10px;
	margin-left:80px;
}

.btn-danger{
	margin-left:10px;	
}

/* 게시판 공통 css */
.imageWrap1 {
  width: 100%;
  height: 140px;
  background: url("/img/badminton-bg.jpg") repeat;
  background-size: contain;
}
.line {
   width: 100%;
   height: 1px;
   background-color: #eaeaea;
   margin-top: 25px;
   margin-bottom: 10px;
}
.title1 {
  display: flex;
  margin: 35px 25px 25px 25px;
}
.title1 h2{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
}
.form-control1 {
	width: 300px;
    border: none;
    border-bottom: 2px solid #ccc; 
    padding: 5px; 
    font-size: 12px;
    outline: none; 
}
.form-control1:focus {
    border-color: #607d67;
}
.form-control2 {
	width: 400px;
    border: none;
    border-bottom: 2px solid #ccc; 
    padding: 5px; 
    font-size: 12px;
    outline: none; 
}
.form-control2:focus {
    border-color: #607d67;
}

/* 게시자 차단 css */
.UserBtn {
	position: relative;
}

.UserBtn:hover {
	color: #FF6347;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.UserBtn:hover #block_actions {
	display: block;
}

#block_actions {
	position: relative;
	right: 0;
	top: -3px;
	text-align: center;
	width: 110px;
}

#block_actions button {
    padding: 7px 9px;
    background-color: #FF6347; /* 빨간색 */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 6px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #FF6347 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 3px 0 0 rgba(255, 99, 71, .7),
                0 3px 0 1px rgba(0,0,0,.4),
                0 3px 3px 1px rgba(0,0,0,0.5);
}

#block_actions button:hover {
    background-color: #DC143C; /* 더 진한 빨간색 */
    box-shadow: 0 0 0 1px #FF6347 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 2px 0 0 rgba(255, 99, 71, .7),
                0 2px 0 1px rgba(0,0,0,.4),
                0 2px 2px 1px rgba(0,0,0,0.5);
}